@import './mediaquery.scss';


@include mobile {
      
        .loginButton{
           display: none !important;
        }
        .label{
            padding-left: 11px!important;
        }
        .board{
            width: 100% !important;
            margin-left: 0px !important;
        }
        .content{
            padding-top: 0px !important;
            margin-top: 3px !important;
        }
        .postingContainer{
            border-radius: 0px !important;
            border: 1px solid #7e848a !important;
            margin-top: 10px !important;
            border: 0px solid #fff !important;
            border-top: 8px solid blanchedalmond !important;
            
            
        }
        .sort{
            border-bottom: 3px solid blanchedalmond !important;
        }
        .adcontent{
            @include Flex_column();
            justify-content: center !important;
            align-items: center !important;
        }
      
        html{
            font-size: 9px !important;
        }
        .adcontainer{
            border-radius: 0px !important;
            align-items: center !important;
            border: 0px solid #fff !important;
            border-top: 8px solid blanchedalmond !important;
            
        }
        .adSub{
            -webkit-line-clamp:2 !important; 
        }
        .title{
            font-size: 1.7rem !important;
        }
        .adtitle{
            font-size: 1.7rem !important;
        }
        .adSub{
            font-size: 1.4rem !important;
        }
        .noitceContent{
            font-size: 1.5rem !important;
        }
        .adcontentContainer{
            margin-left: 0px !important;
        }
      
       


}
*{
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
#root{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width:100%;
    background-color: blanchedalmond;
    
    margin-top:5%;
    display: flex;
    flex-direction: column;
    position: relative;

    .label{
        @include border();
        padding-left: $paddingLeft;
        width: 100%;
        height: 60px;
        background-color: #fff;
        line-height: 60px;
        font-size: 1.5rem;
        
    }
    .content{
        
        
        width: 100%;
        height: 600px;
        background-color: #fff;
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        
        padding-top: 30px;
        .loginButton{
            width: 150px;
            height: 40px;
            background-color: #00c854;
            border: 0px;
            border-radius: 5px;
            color:#fff;
        }
        .loginButton:active{
                box-shadow: 1px 1px 1px 1px #000000;
        }
        .board{
            
            margin-left: 20px;
            width: 45%;
            height: 95%;
            display:flex;
            flex-direction: column;
            position: relative;
            .sort{
                display: flex;
                flex-direction: row;
                position: sticky;
                width: 100%;
                justify-content: space-between;
                font-size: 0.7rem;
                height: 30px;
                align-items: center;
                
                padding-right: 5px;
                padding-top: 4px;
                padding-bottom: 4px;
                div{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                .sortcontainer{
                    width:120px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    cursor: pointer;
                    
                }
                .led{
                    
                    width:8px;
                    height:8px;
                    border-radius: 10px;
                    margin-right: 3px;
                    background-color: #E1E4E7;
                }
                .filter{
                    border: 1px solid #adb5bd ;
                    color: #adb5bd;
                    width: 30px;
                    
                    min-width: 10px;
                    min-height: 10px;
                }
            }
            .overflowDiv{
                margin-top:"10px";
                overflow-y: auto;
         
                .postingContainer{
                    border: 1px solid #7e848a;
                    width: 100%;
                    height: 150px;
                    padding:10px 30px ;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    border-radius: 8px;
                    margin-bottom: 10px;
                    .categoryName{
                        font-size: 0.8rem;
                        color: '#7e848a';
                        width: 100%;
                        border-bottom: 1px solid #7e848a;
                        @include Flex_row();
                        justify-content: space-between;
                        p{
                            line-height: 10px;
                        }
                    }
                    .postingDate{
                        
                        width: 100%;
                        @include Flex_row();
                        font-size: 0.6rem;
                        margin-top: 5px;
    
                        .userId{
                            color:#00c854;
                            border-right: 1px #7e848a solid;
                            padding-right: 5px;
                            
                        }
                        .createDate{
                            color: #495057;
                            margin-left: 5px;
                        }
                    }
                    .title{
                        display: inline;
                        width: 100%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        font-size: 1.4rem;
                        font-weight: bold;

                        max-width: 100%;

                    }
                    .noitceContent{
                        display: inline;
                        width: 100%;
                        text-overflow: ellipsis;
                        
                        overflow: hidden;
                        font-size: 0.8rem;
                        color: #495057;

                        white-space: normal;
                        word-break: break-all;
                        display: -webkit-box;
                        //클램프에 따라 허용 줄수 설정
                        -webkit-line-clamp:2; 
                        -webkit-box-orient: vertical;
                        margin-bottom: 10px;
                    }
                }

                .adcontainer{
                    border: 1px solid #7e848a;
                    width: 100%;
                    min-height: 220px;
                    padding:10px 30px ;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:flex-start;
                    border-radius: 8px;
                    margin-bottom: 10px;
                    .sponserd{
                        width: 100%;
                        color: #adb5bd;
                        font-size: 0.8rem;
                    }
                    .adcontent{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-start;
                        margin-top: 10px;
                        min-height: 10px;
                        
                        
                        .imgContainer{
                            flex: 1;
                            
                            .img{
                                width: 100%;
                                height: 200px;
                            }
                        }
                       .adcontentContainer{
                            
                            flex: 2;
                            height: 200px;
                            @include Flex_column();
                            justify-content: space-between;
                            align-items: center;
                            
                            margin-left: 10px;
                            .adtitle{
                                max-width: 100%;
                                white-space: normal;
                                word-break: break-all;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                display: inline;
                                display: -webkit-box;
                                -webkit-line-clamp:2; 
                                -webkit-box-orient: vertical;
                                margin-bottom: 10px;
                                font-weight: bold;
                                font-size: 1.3rem;
                                
                            }
                            .adSub{
                                max-width: 100%;
                                white-space: normal;
                                word-break: break-all;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                display: inline;
                                display: -webkit-box;
                                -webkit-line-clamp:4; 
                                -webkit-box-orient: vertical;
                                margin-bottom: 10px;
                            }
                           
                        }
                    }
                }
            }
         
        }
        
    }
}
